#####################
###     VSCode    ###
#####################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.history

#####################
###    Python     ###
#####################
__pycache__/

#####################
### Code Coverage ###
#####################
.coverage
.coverage.*

#####################
###  Hypothesis   ###
#####################
.hypothesis/

#####################
###     MutMut    ###
#####################
.mutmut-cache
html/